@{
    ViewData["Title"] = "Budget Calculator";
}

<div class="container mt-5">
    <form id="dateRangeForm" class="form-inline justify-content-center" method="post">
        <div class="form-row align-items-center">
            <h2 class="text-info text-center">Budget Calculator</h2>
            <div class="form-group mx-2 col-auto">
                <label for="fromDate" class="sr-only">From Date:</label>
                <input type="date" class="form-control" id="fromDate" name="fromDate" placeholder="From Date" required>
            </div>
            <div class="form-group mx-2 col-auto mb-2">
                <label for="toDate" class="sr-only">To Date:</label>
                <input type="date" class="form-control" id="toDate" name="toDate" placeholder="To Date" required>
            </div>
            <div class="form-group mx-2 col-auto mb-2">
                <button type="button" class="btn btn-primary" onclick="generateTable()">Submit</button>
            </div>
        </div>
        <div id="tableContainer"></div>
    </form>
</div> 