@model TableModel;
@using Newtonsoft.Json;
@{
    ViewData["Title"] = "Home";
}
<div class="container mt-3">
    <div class="row">
        <div class="text-center text-info"><h3>Budget Calculator</h3></div>
        <div class="col-md-4 mb-3">
            <input type="date" class="form-control" id="fromDate" name="fromDate" placeholder="From Date" required>
            <label for="fromDate" class="sr-only">From Date:</label>
        </div>
        <div class="col-md-4 mb-3">
            <input type="date" class="form-control" id="toDate" name="toDate" placeholder="To Date" required>
            <label for="toDate" class="sr-only">To Date:</label>
        </div>
        <div class="col-md-4 mt-0">
            <button type="button" id="generateBtn" class="generateTable btn btn-primary">Generate</button>
            <button id="exportBtn" onclick="ExportTable()" type="button" class="btn btn-success"><i class="fa-solid fa-file-export"></i></button>
        </div>
    </div>
</div>

<ul class='custom-menu'>
    <li data-action="first">Apply to all</li>
</ul>

<div id="tableContainer">
    <div id="myChart"></div>
</div>