html {
    font-size: 14px;
}

* {
    font-size: 100%;
    font-family: Arial;
}

.highlight {
    background-color: lightgray;
}

.activityTitle {
    text-align: center;
    background: linear-gradient(to left, violet, indigo, blue, green, yellow, orange, red);
    /*background-size: 70%;*/
    -webkit-background-clip: text;
    color: transparent;
}

#closeActivityButton {
    height: 33px;
    width: 33px;
}

.card-hover {
    transition: transform 0.3s ease-in-out, box-shadow 0.3s ease-in-out;
    border-radius: 8px;
    overflow: hidden;
    border: 1px solid transparent;
}

    .card-hover:hover {
        transform: translateY(-3px);
        box-shadow: 0 4px 12px rgba(0, 0, 0, 0.3);
        border: 1px solid #2670b4;
        filter: brightness(1.05);
        cursor: pointer;
    }


input[type="date"]::-webkit-clear-button {
    display: none;
}

input[type="date"]::-webkit-inner-spin-button {
    display: none;
}

input[type="date"]::-webkit-calendar-picker-indicator {
    color: #3498db;
    cursor: pointer;
}

input[type="date"] {
    appearance: none;
    -webkit-appearance: none;
    color: #2c3e50;
    font-family: "Helvetica", Arial, sans-serif;
    font-size: 16px;
    border: 2px solid #bdc3c7;
    border-radius: 5px;
    background: transparent;
    padding: 10px;
    transition: border-color 0.3s, box-shadow 0.3s;
}

    input[type="date"]:focus {
        color: #2c3e50;
        border-color: #3498db;
        box-shadow: 0 0 5px rgba(52, 152, 219, 0.5);
        outline: none;
    }

    input[type="date"]::placeholder {
        color: #7f8c8d;
        opacity: 1;
    }

    input[type="date"]:disabled {
        background-color: #ecf0f1;
        color: #7f8c8d;
    }

input[type="date"] {
    margin-bottom: 15px;
}


@media (min-width: 768px) {
    html {
        font-size: 16px;
    }
}

input[type='number'] {
    width: 130px;
}

/*span {
    text-align: center !important;
    margin-left: 3rem;
}*/

.btn:focus, .btn:active:focus, .btn-link.nav-link:focus, .form-control:focus, .form-check-input:focus {
    box-shadow: 0 0 0 0.1rem white, 0 0 0 0.25rem #258cfb;
}

/*table {
    text-align: left;
    position: relative;
}

th {
    background: white;
    position: sticky;
    top: 0;
    z-index: 100;
}*/

.activityListHeader {
    position: sticky;
    top: 0;
    background-color: #f4fcff;
    z-index: 10;
    margin-right: 10px;
    margin-top: 5px;
    margin-bottom: 5px
}
/* Main Table Styling */
#mainTable {
    width: 100%;
    border-collapse: collapse;
    background-color: rgba(255, 255, 255, 0.9);
    overflow-y: auto;
}

    #mainTable th, #mainTable td {
        text-align: center; /* Default alignment */
        border: 1px solid #ccc;
        background-color: #2670B4;
    }

    #mainTable thead tr {
        position: sticky;
        top: 0;
        background-color: #007bff;
        color: white;
        z-index: 10;
    }

    #mainTable td {
        background-color: #f0fafe;
        /*border: 1px solid #2670B4;*/
    }

    #mainTable input[type="number"] {
        border: 1px solid #ddd;
        border-radius: 5px;
        width: 120px;
        box-sizing: border-box;
        background-color: #f4fcff;
        text-align: center;
    }

    #mainTable .addCategorytd {
        background-color: #f4fcff;
        font-weight: bold;
        text-align: left;
    }

        #mainTable .addCategorytd input[type="text"] {
            border: 1px solid #2670B4;
            position: sticky;
            left: 0;
            padding: 5px;
            border-radius: 5px;
            box-sizing: border-box;
            background-color: #f4fcff;
            z-index: 5;
            width: auto;
        }

        th, td {
            white-space: nowrap; 
        }

    #mainTable .staticRow {
        text-align: left;
        position: -webkit-sticky;
        position: sticky;
        left: 0;
        background-color: #f4fcff;
        z-index: 5;
        font-weight: bold;
    }

        #mainTable .staticRow span {
            text-align: left;
            position: sticky;
            left: 0;
            padding: 3px;
            border-radius: 5px;
            box-sizing: border-box;
            z-index: 5;
            width: auto;
        }

    #mainTable .totalRows span {
        text-align: center !important;
    }

    #mainTable td:first-child,
    #mainTable th:first-child {
        position: -webkit-sticky;
        position: sticky;
        left: 0;
        background-color: #f4fcff;
        z-index: 5;
        color: black;
    }

    #mainTable .delete-category-button {
        padding: 5px 10px;
    }

/* Button Styling */
button {
    margin: 5px;
    padding: 10px 15px;
    border: none;
    border-radius: 5px;
    font-size: 16px;
}

#generateBtn.generateTable {
    background-color: #2670B4;
    color: white;
}

#generateBtn.resetTable {
    background-color: #dc3545;
    color: white;
}

#showActivity, #exportBtn {
    background-color: #2670B4;
    color: white;
}

button:hover {
    opacity: 0.8;
}

.activity-box {
    background-color: #f4fcff;
}

/*Activity card css*/
.even-card {
    background-color: #eaf9fe; 
}

.odd-card {
    background-color: #f4fcff;
}

/* Activity List Styling */
/*#activityList {
    background-color: rgba(255, 255, 255, 0.9);
    border: 1px solid #ddd;
    border-radius: 5px;
    padding: 15px;
    max-height: 400px;
    overflow-y: auto;
    display: none;
}

.activity-item {
    border-bottom: 1px solid #ddd;
    padding: 10px 0;
}

    .activity-item:last-child {
        border-bottom: none;
    }*/

.custom-scrollbar {
    scrollbar-width: thin;
    scrollbar-color: #c0c0c0 #f5f5f5;
}

    .custom-scrollbar::-webkit-scrollbar {
        width: 10px;
        height: 10px;
    }

    .custom-scrollbar::-webkit-scrollbar-track {
        background: #f5f5f5;
    }

    .custom-scrollbar::-webkit-scrollbar-thumb {
        background: #c0c0c0;
        border-radius: 3px;
    }

        .custom-scrollbar::-webkit-scrollbar-thumb:hover {
            background: #a0a0a0;
        }



html {
    position: relative;
    min-height: 100%;
}

body {
    background-image: url('https://localhost:44342/images/background_image.jpg');
    background-size: cover;
    background-attachment: fixed;
    font-family: 'Roboto', sans-serif;
}

.custom-menu {
    display: none;
    z-index: 1000;
    position: absolute;
    overflow: hidden;
    border: 1px solid #CCC;
    white-space: nowrap;
    font-family: sans-serif;
    background: #FFF;
    color: #333;
    border-radius: 5px;
    padding: 0;
}

    /* Each of the items in the list */
    .custom-menu li {
        padding: 8px 12px;
        cursor: pointer;
        list-style-type: none;
        transition: all .3s ease;
        user-select: none;
    }

        .custom-menu li:hover {
            background-color: #DEF;
        }

input[type=number]::-webkit-inner-spin-button {
    -webkit-appearance: none;
}

/*#exportBtn {
    display: none;
}*/
